* {
    margin: 0px;
    padding: 0px;
}


/* size for mobile large 425px */

body {
    background-image: url("images/SW_background-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#myList {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    position: absolute;
    left: 55px;
    top: 80px;
}

li {
    font-size: 18px;
    list-style: none;
    padding-bottom: 10px;
}

#name,
#homeworld,
#film,
#title {
    text-decoration: underline;
    text-decoration-color: darkgoldenrod;
}

@media only screen and (min-width: 768px) {
    #myList {
        left: 105px;
        top: 150px;
    }
    li {
        font-size: 20px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 1024px) {
    #myList {
        left: 180px;
        top: 260px;
    }
    li {
        font-size: 28px;
        padding-bottom: 10px;
    }
}